body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#0f172a;
}

/* Banner */
.hero-banner{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    overflow:hidden;
    color:white;
}

/* Cubeta */
.paint-bucket{
    position:absolute;
    top:40px;
    left:-100px;
    font-size:70px;
    transform:rotate(-30deg);
    animation: bucketEnter 1.5s forwards;
}

@keyframes bucketEnter{
    to{
        left:120px;
        transform:rotate(-10deg);
    }
}

/* Pintura derramándose */
.paint-flow{
    position:absolute;
    top:-200px;
    left:-20%;
    width:140%;
    height:0;
    background:#f9c806;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    animation: paintDrop 2s ease-out forwards;
    animation-delay:1s;
}

@keyframes paintDrop{
    to{
        height:120%;
    }
}

/* Contenido aparece después */
.banner-content{
    text-align:center;
    opacity:0;
    transform:translateY(40px);
    animation: contentShow 1.5s forwards;
    animation-delay:2.2s;
}

@keyframes contentShow{
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* Texto */
.banner-content h1{
    font-size:60px;
    color:#0f172a;
}

/* Botón */
.cta-button{
    padding:16px 40px;
    background:#0f172a;
    color:white;
    border:none;
    border-radius:10px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.cta-button:hover{
    transform:translateY(-4px);
}
